
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

#outer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: hsl(212, 45%, 89%);
}

#hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: max-content;
    width: 85vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}

img {
    width: 75vw;
    margin-top: 1em;
    border-radius: 15px;
}

h3 {
    margin: 1em 2em 0 2em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    margin: 2em 2em 3em 2em;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}


@media screen and (min-width: 475px) {
    #hero-container {
        width: 25vw;
    }

    img {
        margin-top: 2em;
        width: 20vw;
    }
  }

